node_modules/
client/node_modules/
server/node_modules/
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
client/.env*
server/.env*
dist/
build/
dist-ssr/
client/dist/
client/build/
server/dist/
server/build/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
server/logs/
pids/
*.pid
*.seed
*.pid.lock
*.tmp
*.temp
.cache/
.parcel-cache/
.eslintcache
.stylelintcache
*.tsbuildinfo
coverage/
.nyc_output/
*.lcov
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.history/
.DS_Store
Thumbs.db
*.swp
*.swo
*~
*.sqlite
*.sqlite3
*.db
server/uploads/*
!server/uploads/.gitkeep

client/uploads/*
!client/uploads/.gitkeep
server/AI/models/
*.h5
*.pt
*.onnx
*.local
*.out
*.err
vite.svg
nodemon.json
package-lock.json
yarn.lock
pnpm-lock.yaml

scorpio, fortuner remove